h1{
    flex:content;
    text-align: center;
    justify-content: center;
    background-color: turquoise;
}

.details{
    font-size:medium;
    text-align: center;
    font-style:normal;
    background-color: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    
}
mat-card{
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    
}

.btn{
    
    display: block;
    margin: auto;
    color:antiquewhite;
    background-color: brown;
    
    /* background-color:orangered; */

}