h1{
    flex:content;
    text-align: center;
    justify-content: center;
    /* background-color: turquoise; */
}

.details{
    text-align:center;
    
    margin-left: 2;
}

.btn{
    
    display: block;
    margin: auto;
    color:antiquewhite;
    background-color: brown;
    
    /* background-color:orangered; */

}