
<div class="formcontainer">
  <form (ngSubmit)="submission()" [formGroup]='category'>
       <label for="catcode">CODE <span class="required">*</span> :</label>
       <input type="text"  placeholder="category  code"  id="catcode" formControlName="categorycode" />
       <!-- <span *ngIf="category.get('categoryid').errors!.[required]">Please enter the <Code></Code></span> -->
       <br>
       <label for="catcode">NAME <span class="required">*</span> : </label>
       <input type="text"  placeholder="category  name"  id="catname" formControlName="categoryname" />
       <br>
       <label for="catdesc">DESCRIPTION <span class="required">*</span> :</label>
       <textarea  id="catdesc" formControlName="categorydescription" rows="4" cols="50"></textarea>
       <br>
       <!-- <label for="catimage">IMAGE <span class="required">*</span> : </label> 
       <span>&nbsp;</span>
       <input type="file" placeholder="Category Image" id="catimage"  (change)="onChange($event)" accept="image/*" />
       <br> -->
       <label for="isactive">IS ACTIVE <span class="required">*</span>  ? </label>
       <input type="checkbox" placeholder="isActive" id="isactive"  formControlName="active" />
       <br>
       <input type="submit" placeholder="submit"/>
  </form>
  </div>
  
  <!-- <mat-table [dataSource]="dataSource">
            User name Definition -->
            <!-- <ng-container matColumnDef="username">
              <mat-header-cell *matHeaderCellDef> User name </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
            </ng-container>
           -->
            <!-- Age Definition -->
            <!-- <ng-container matColumnDef="age">
              <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.age}} </mat-cell>
            </ng-container> -->
          
            <!-- Title Definition -->
            <!-- <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
            </ng-container> -->
          
            <!-- Header and Row Declarations -->
            <!-- <mat-header-row *matHeaderRowDef="['username', 'age', 'title']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['username', 'age', 'title']"></mat-row>
          </mat-table> -->
  
  
  
  