
.active{
   /* background-color: turquoise; */
  text-decoration-line:underline;
  text-decoration-style: solid;
  text-decoration-color:teal;
  text-decoration-thickness: 5px;
}
.spacer 
{
   flex: 1 1 auto;
   
}
.title{
  font-family:  'Open Sans Regular';
  margin-left: 10px;
  /* font-weight: bold; */
}


  