.categorytable {
    font-family: 'Open Sans';
    border-collapse: collapse;
    width: 100%;
  }
  .head{
    margin-left: 25px;
    font-family:  'Open Sans Regular';
    
    margin-top: 25px;
    color:black;
  }
  
  .categorytable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .one{
    border: 30px;
    column-gap: 20px;
    font-size: small;

    background-color: #2ba282; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 15px;
   
  }
  
.categorytable tr:nth-child(even){background-color: #f2f2f2;}
  
  .categorytable tr:hover {background-color: rgb(149, 74, 74);}
  
  .categorytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(198, 27, 27);
    color: white;
  }
  .ag-theme-alpine{
    margin-top: 10px;
  }