

<!-- <table class="categorytable">
        <tr>
             <th>category Name </th>
             <th>Category Code</th>
             <th>Category description</th>
             <th>Image</th>
             <th>CreatedBy</th>
             <th>CreatedOn</th>
        </tr>
        <tr *ngFor="let some of categories">
             <td><a [routerLink]="['/category',some.categoryid]">{{some.categoryname}}</a></td>
             <td>{{some.categoryid}}</td>
             <td>{{some.categorydescription}}</td>
             <td><img [src]="getImageUrl(some.categoryimage)" height="100px" width="100px"></td>
             <td>{{some.createdBy}}</td>
             <td>{{some.createdOn}}</td>
        </tr>
   </table> -->
   <h2 class="head">Categories List</h2> 
    <!-- {{product.title }}
    {{product.category}} -->
    <div class="row" style="margin-right: 20px; margin-bottom: 10px;">
        <!-- <div class = "card">
          <div class="container">
          <div class="" > Title : {{product.id}}. {{product.title }}</div>
            <div class=""><label>category</label> : {{product.category}}</div>
          <p class=""><label>description</label>: {{product.description}}</p>
          <div class=""><label>rating</label>: {{product.rating}}</div>
          <div class=""><label>stock</label>: {{product.stock}}</div>
          <div class=""><label>brand</label>: <b>{{product.brand}}</b></div>
          </div>
        </div> -->

       <!-- Button to clear selection -->


&nbsp;&nbsp;<span *ngFor="let data of toolbar">
     <button   class="one"  (click)="onSelection(data)">{{data}}</button>&nbsp;&nbsp;&nbsp;
</span>


<!-- AG Grid Angular Component -->
<ag-grid-angular
#agGrid
    style="width:110%; height: 85vh;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [animateRows]="true"
    [rowSelection]="'multiple'"
    [editType]="editType"
    [gridOptions]="gridOptions"
    >
</ag-grid-angular>

</div>

