

<!-- <table class="categorytable">
        <tr>
             <th>category Name </th> 
             <th>Category Code</th>
             <th>Category description</th>
             <th>Image</th>
             <th>CreatedBy</th>
             <th>CreatedOn</th>
        </tr>
        <tr *ngFor="let some of categories">
             <td><a [routerLink]="['/category',some.categoryid]">{{some.categoryname}}</a></td>
             <td>{{some.categoryid}}</td>
             <td>{{some.categorydescription}}</td>
             <td><img [src]="getImageUrl(some.categoryimage)" height="100px" width="100px"></td>
             <td>{{some.createdBy}}</td>
             <td>{{some.createdOn}}</td>
        </tr>
   </table> -->
   <title>Products List</title>
    <!-- {{product.title }}
    {{product.category}} -->
    <div class="row" style="margin-right: 20px; margin-bottom: 10px;">
        <!-- <div class = "card">
          <div class="container">
          <div class="" > Title : {{product.id}}. {{product.title }}</div>
            <div class=""><label>category</label> : {{product.category}}</div>
          <p class=""><label>description</label>: {{product.description}}</p>
          <div class=""><label>rating</label>: {{product.rating}}</div>
          <div class=""><label>stock</label>: {{product.stock}}</div>
          <div class=""><label>brand</label>: <b>{{product.brand}}</b></div>
          </div>
        </div> -->

        <table mat-table [dataSource]="categories" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->


          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let element"> {{element.categorycode}} </td>
          </ng-container>


          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element"><a [routerLink]="['/category',element.categoryid]">{{element.categoryname}}</a>  </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element"> {{element.categorydescription}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef>CreatedBy</th>
            <td mat-cell *matCellDef="let element"> {{element.createdby}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef>CreatedON</th>
            <td mat-cell *matCellDef="let element"> {{element.createdon}} </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element"><a mat-button [routerLink]="['/updatecategory',element.categoryid]">EDIT</a>
              <button (click)="delete(element)" mat-button  >DELETE</button></td>
          </ng-container>
          <tr class="tblheader" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="tbl" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

   
      </div>
