.btn{
    /* background-color: aqua; */
    background-color: #2ba282; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
}
.btn1{
    background-color: #2ba282; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
}
.btn2{
    background-color: #2ba282; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
}