form {
    padding-top: 1rem;
    margin: 2rem;
    columns: 3;
    margin-left: 1px;
    column-gap: 10px;
    column-fill: balance;

    margin: .5em 0;
  

  }

h1{
  text-align: center;
  text-decoration: underline;
    
    font-family: 'Open Sans';
    
}
  
label {
    display: block;
    margin: .5em 0;
    text-align: center;
    color:darkblue;
    font-weight:normal;
  }

.btn{
margin-left: 65%;
}
.save{
  margin-left: 80%;
  padding: 10px 24px;
  border-radius: 10px;
  background-color:#2ba282;
}
mat-form-field{
  /* height:auto; */
  /* height: 50%; */
  width: 70%;
  margin-left: 40px;
}
  

  



 /* ::ng-deep .mat-form-field-appearance-outline {
    transform: translateY(0.1em) scale(.85);
    border-radius: 200px;

}  */