form {
    padding-top: 1rem;
    text-align: center;
    
    
  }

  h1{
    flex:content;
    text-align: center;
    justify-content: center;
    
}
  
  label {
    display: block;
    margin: .5em 0;
    text-align: center;
    color:darkblue;
    font-weight:normal;
  }
.btn{
  display: block;
  margin: auto;
  
}
mat-form-field{
  height:fit-content;
  width: fit-content;
}