<!-- <h2 class="login">LOGIN</h2> -->
<!-- <div class="formcontainer">
  <form  (ngSubmit)="submission()" [formGroup]="loginform">  
    <div>
      
      <p class="required" *ngIf="loginform.controls['password'].errors?.['required']">password is required</p> 
      <p class="required" *ngIf="errormessages.passworderror">Invalid Password</p> 
      <p class="required" *ngIf="loginform.controls['username'].errors?.['required']">Username is required</p> 
      <p class="required" *ngIf="errormessages.usernameerror">Invalid Username</p>
    </div>
      <label for="username">USERNAME </label><span class="required">*</span> :
      <input type='text' formControlName="username" id="username" />
      <br>
      <label for="password">PASSWORD  </label><span class="required">*</span> : 
      
      <input type='password' formControlName="password"  id="password" />
      <br>
      <a   [routerLink]="['/forgotpassword']" class="btn btn-link">forgot Password?</a>
      <br>
      <input type="submit" value="login" />&nbsp;
      <a [routerLink]="['/register']" class="btn btn-link">Dont have a account? Sign Up</a>
  </form> -->

  
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginform" (ngSubmit)="submission()">
        <h2>Log In</h2>
        <mat-error  *ngIf="errormessages">Invalid Username or Password </mat-error>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username"  formControlName="username"  required>
          <mat-error *ngIf="loginform.get('username')?.hasError('required')">*Required field</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Password"  required>
          
          <mat-error  *ngIf="loginform.get('password')?.hasError('required')">*Required field </mat-error>
        </mat-form-field>
        <div class="link">
         <mat-button  [routerLink]="['/forgotpassword']">forgot Password?</mat-button> 
        </div>
        <br>
        <button type="submit" value="login"  mat-raised-button color="primary" >Login</button>&nbsp;
        <br>
        <p>Don't have a Account?</p>
        <a [routerLink]="['/register']" class="btn btn-link">Sign Up</a>

      </form>
    </mat-card-content>
  </mat-card>
