<h1>Edit Product</h1>
<form [formGroup]="EditProduct"   (ngSubmit)="onSubmit()">
    <label for="ID"> ID:  </label>
    <input id="ID" type="text" formControlName="id" placeholder="enter id" required>
    <span style="color: red;" *ngIf="id && id.invalid && id.touched">*Required field</span>
    
    <label for="title">Title:</label>
    <input id="title" type="text" formControlName="title" required>
    
    <span style="color: red;" *ngIf="title && title.invalid && title.touched">*Required field</span>
    
    <label for="category">Category: </label>
    <select  formControlName="category"> <option value="">ChooseCategory</option>
    <option *ngFor="let category of categories" [ngValue]="category.categoryname">{{category.categoryname}} </option> </select>
    
    <span style="color: red;" *ngIf="category && category.invalid && category.touched">*Required field</span>

    <label for="Stock">Stock: </label>
    <input id="Stock" type="text" formControlName="stock" required>
    <span style="color: red;" *ngIf="stock && stock.invalid && stock.touched">*Required field</span>

    <label for="Brand">Brand: </label>
    <input id="Brand" type="text" formControlName="brand" required>
    <span style="color: red;" *ngIf="brand && brand.invalid && brand.touched">*Required field</span>

    
    <button class="btn" [disabled]="EditProduct.invalid" type="submit">Submit</button>
    <button class ="btn"  mat-raised-button  type="button"  (click)="Close()" >Close</button>
