form {
    padding-top: 1rem;
    text-align: center;
    font-family: Roboto ;
    /* html,body{
      display: grid;
      height: 100%;
      width: 100%;
      place-items: center; */
     
    
  }
  h1{
    flex:content;
    text-align: center;
    justify-content: center;
    
}
  
  label {
    display: block;
    margin: .5em 0;
    text-align: center;
    color:darkblue;
    font-weight:normal;
  }
.btn{
  display: block;
  margin: auto;
  
}
::ng-deep .mat-form-field-appearance-outline {
  transform: translateY(0.1em) scale(.95);
  /* border-radius: 200px; */

} 