/* You can add global styles to this file, and also import other style files */
/* @import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css"; */

html, body { height: 100%; }
body { margin: 0; font-family:  'Open Sans Regular' }
@import 'ag-grid-community/styles/ag-grid.css';

@import 'ag-grid-community/styles/ag-theme-alpine.css';

.active{
  text-decoration-line:underline;
  text-decoration-style: solid;
  text-decoration-color:teal;
  text-decoration-thickness: 5px;
  }