&nbsp;
<mat-card class="panel">
  <mat-card-title style="text-align: center;">Your Favourite Products</mat-card-title>
   <mat-card class="example-card" *ngFor="let product of  favproductsdata">
    <mat-card-content>
      <!-- <mat-card-subtitle>{{product.id}}</mat-card-subtitle> -->
      <!-- <mat-card-title>Name :{{product.title}}</mat-card-title> -->
      <p>Name :{{product.title}}</p>
      <p>Product Category:{{product.category}}</p>
      <p>Stock Reamining:{{product.stock}}</p>
      <p>Brand:{{product.brand}}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
  </mat-card>
</mat-card>


