<h2 class="register">REGISTER</h2>
<div class="formcontainer">
  <form (ngSubmit)="submission()" [formGroup]="registrationform">
     <label for="username">USERNAME:</label>
    <input type="text" formControlName="username" id="username" /><br />
    <p class="required" *ngIf="registrationform.controls['username'].errors?.['required']">username is required</p> 
    <p class="required" *ngIf="errormessage.usernameerror">ALREADY USED USERNAME</p>
    <label for="email">EMAIL ID:</label><br />
    <input type="text" formControlName="email" id="email" /><br />
    <p class="required" *ngIf="registrationform.controls['email'].errors?.['required']">email is required</p> 
    <p class="required" *ngIf="errormessage.emailerror">ALREADY USED EMAIL</p>
    <label for="password">PASSWORD:</label>
    <input type="password" formControlName="password" id="password" />
    <p class="required" *ngIf="registrationform.controls['password'].errors?.['required']">password is required</p> 
    <br /> <input type="submit" value="Register" />&nbsp;
    <a mat-raised-button [routerLink]="['/login']" class="btn btn-link">Sign In</a>
  </form>
</div>
 